.TitleTeam{
    text-align: center;
    margin-bottom: 40px;
}
.OurTeamIMG{
   margin-left: 45px;
   margin-right: 45px;
   margin-bottom: 50px;
}
#TeamCard{
    width: 100%;
    height: 400px;
    background-image: none;
    margin-top: 15px;
    margin: 0;
    border-radius: 0;
}
.CardImg{
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Team1 {
    background-image: url('../images/front_juan_lider.png');
}
.Team2 {
    background-image: url('../images/front_casanova.png');
}
.Team3 {
    background-image: url('../images/front_guillen.jpg');
}
.Team4{
    background-image: url('../images/front_arias.jpg');
}
.Team5 {
    background-image: url('../images/front_estrella.jpg');
}
.Team6 {
    background-image: url('../images/front_rivera.jpg');
}
.Team7 {
    background-image: url('../images/front_eddy.png');
}
