
.container_footer{
  width: 94%;
  background-color: #fff;
  margin-top: 10%;
  margin-bottom: 10%;
  
}

.imgen{
  display: flex;
  margin-left: 15%;
  
}

.columna{
  text-align: left;
  display: inline;

}

.titulo{
  font-size: 15px;
  font-weight: 700;
  color: inherit;
  text-decoration: inherit;
  text-align: left;
  padding-bottom: 15%;
}

.titulo_1{
  font-size: 15px;
  font-weight: 700;
  color: inherit;
  text-decoration: inherit;
  text-align: left;
  padding-bottom: 15%;
}

.item{
  color: #43464da8;
  font-size: 13px;
  text-align: center;
  text-decoration: inherit;
  margin-bottom: 30%;
  width: auto;
}

.item_1{
  padding-bottom: 30%;
  text-align: left;
  text-decoration: inherit;
  font-size: 13px;
  color: #43464da8;
  width: auto;
}
  
.item:hover{
    color: #b02222;
    font-weight: bolder;
  }

.item_1:hover{
    color: #b02222;
    font-weight: bolder;
  }
  
  .copyright{
    color: #b02222;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    padding-left:3.5%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 4%;
  }

  @media screen and (max-width:320px){

    .imgen{
      margin:0%;
      margin-left: 8%;
      margin-top: 30%;
    }


    .titulo{
      text-align: center;
      align-content: center;
      margin-bottom: 5%;
    }

    .titulo_1{
      text-align: center;
      align-content: center;
      margin-bottom: 5%;
    }

    .columna{
      text-align: center;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    .copyright{
      margin-left: 28%;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      
    }
  }
  
  @media screen and (max-width:568px){
    
    .imgen{
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      margin: 0%;
      margin-left: 40%;
      margin-bottom: 20%;
      margin-top: 10%;
    }

    .titulo{
      flex-wrap: wrap;
      text-align: center;
      align-content: center;
      font-size: large;
    }

    .titulo_1{
      flex-wrap: wrap;
      text-align: center;
      align-content: center;
      font-size: large;
    }

    .columna{
      text-align: center;
      align-content: center;
      justify-content: center;
      margin-left: 35%;
    }

    .item{
      font-size: 16px;
    }
    .item_1{
      font-size: 16px;
    }

    .copyright{
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      font-size: 18px;
    }
  }

  @media screen and (max-width:768px){
    
    .imgen{
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      margin-left: 89%;
    }

    .titulo{
      flex-wrap: wrap;
      text-align: center;
      align-content: center;
      font-size: large;
      margin:0%;
      margin-bottom: 25%;
    }

    .titulo_1{
      flex-wrap: wrap;
      text-align: center;
      align-content: center;
      font-size: large;
    }

    .columna{
      text-align: center;
      align-content: center;
      justify-content: center;
    }

    .item{
      font-size: 16px;
    }
    .item_1{
      font-size: 16px;
    }

    .copyright{
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      font-size: 18px;
      margin-right: 13%;
    }
  }

  @media screen and (max-width:820px){
    
    .imgen{
      margin-left: 20%;
    }


    .item{
      font-size: 16px;
    }
    .item_1{
      font-size: 16px;
    }

}

  @media screen and (max-width:1200px){
    .imgen{
      display: flex;
    }
    

  }

  @media screen and (min-width:1800px) and (max-width:2560px) {

    .titulo{
      font-size: 23px;
    }
    .titulo_1{
      font-size: 23px;
    }

    .item{
      font-size: 18px;
    }
    .item_1{
      font-size: 18px;
    }
    
    .copyright{
      font-size: 18px;
    }

  }






  