
/*CSS del container del Monthly*/
.Moana{
  width: 100%;
  display:flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-wrap:wrap-reverse;
  background-color: #c7c7c7;
  color: #1b1b1b;
  padding: 8% 8%;
}

.col{
  margin-bottom: 8%;
}





/*Footer -> CSS de las columnas*/

.futer{
  max-width: 100%;
}

.seccion{
  line-height: 26px;
  display: flex;
}

@media screen and (max-width:320px) {

    .futer{
    margin-bottom: 15%;
    margin-top: 5%;
  }
  .seccion{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 15%;
    margin-bottom: 12%;
  }
}

@media screen and (min-width:321px) and (max-width: 568px){

  .futer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .seccion{
    align-content: center;
    justify-content: center;
    margin-left: 7.5%;
    margin-bottom: 22%;
  }
}

@media screen and (min-width: 570px) and (max-width: 768px) {
  
  .seccion{
    margin-bottom: 10%;
    margin-left: 17%;
  }
  .futer{
    margin-left: 22%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    padding: 0%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1019px) {
  
  .seccion{
    margin-bottom: 10%;
  }

}


