
/*CSS del container del Monthly*/
.Moana{
  width: auto;
  display:flex;
  text-align: center;
  justify-content: center;
  background-color: #c7c7c7;
  color: #1b1b1b;
  padding: 8% 8%;
}

.col{
  margin-bottom: 8%;
}





/*Footer -> CSS de las columnas*/

.futer{
  max-width: 100%;
}

.seccion{
  line-height: 26px;
  display: flex;
}

@media screen and (max-width:320px) {

    .futer{
    margin-left: 13%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .seccion{
    align-content: center;
    justify-content: center;
    margin-left: 18%;
    margin-bottom: 22%;
  }
}

@media screen and (min-width:321px) and (max-width: 568px){

  .futer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .seccion{
    align-content: center;
    justify-content: center;
    margin-left: 18%;
    margin-bottom: 22%;
  }
}

@media screen and (min-width: 570px) and (max-width: 768px) {
  
  .seccion{
    margin-bottom: 10%;
    margin-left: 17%;
  }
  .futer{
    margin-left: 22%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    padding: 0%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1019px) {
  
  .seccion{
    margin-bottom: 10%;
  }

}

/* pequeños cambios en la ui-design jose ramon */

#MenuProductsStyles{
  text-decoration: none;
  font-weight: bolder;
}
#MenuProductsStyles:hover{
  color: black;
}

#StyleUl{
  font-weight: bolder;
}
#StyleUl:hover{
  color: black;
}

#StyleTextHeader{
  font-weight: bolder!important;
}

.aboutheader{
  --opacidad-negro: 0.5!important;
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), 
  rgba(0, 0, 0, var(--opacidad-negro))), url("/_next/static/media/example.e7d8a1f8.jpg")!important;
  
}
