
  h2.monthly{
    font-size: 46px;
    font-weight: 600;
    line-height: 50px;
    margin-top: 8%;
  }

  h2.monthly:hover{
    color: #B02222;
    font-weight: lighter;
  }
  
  .phrase_news{
    line-height: 26px;
    letter-spacing: 1;
    font-size: 14px;
    margin: auto;
    flex-direction: column;
    width: 55%;
    min-width:10%;
    color: #1a1b1f;

  }
  
  .p.news{
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 15%;
  }
  
  .news{
    display: flex;
    align-content: center;
    justify-content: center;
    font-style: italic;
    margin-top: 5%;
    margin-left: 8%;
    width: 80%;
  }
  
.news:hover{
  font-weight: bolder;
  color: #B02222;
}

  .enteremail{
    width: 40%;
    margin-right: 10px;
    padding: 9px 17px;
    border: 1px solid #eeeded;
    background-color: #f4f4f4;
    color: #1a1b1f;
    border-radius: 0px;
    font-size: 14px;
    line-height: 26px;
    align-items: left;
    color: #1a1b1f;
  }
  
  .submit{
    background-color: #1a1b1f;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    padding: 12px 24px;
    margin-top: 5%;
    text-align: center;
    letter-spacing: 2px;
    border: 0;
  }
  
  .submit:hover{
    background-color: #B02222;
    color: #fff;
  }
  

  @media screen and (min-width: 320px) and (max-width: 371px) {
    
    .submit{
      margin-top: 15px;
      padding: 4%;
      width: 80%;
    }
    .monthly{
      text-align: center;
      display: flex;
      align-content: center;
      justify-content: center;
      margin-left: 5%;
    }

    .phrase_news{
      margin-bottom: 10%;
      line-height: 30px;
    }
    .news{
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 15%;
    }
    .enteremail{
      display: flex;
      align-content: center;
      justify-content: center;
      margin-left: 10%;
      padding: 3%;
      width: 80%;
      overflow: hidden;
      position: relative;
    }

}

@media screen and (min-width: 372px) and (max-width: 568px) {
    
    .suscribe{
      padding: 0%;
    }
    .submit{
      margin-top: 15px;
      padding: 3%;
      width: 70%;
    }
    .monthly{
      text-align: center;
      display: flex;
      align-content: center;
      justify-content: center;
    }

    .phrase_news{
      margin-bottom: 10%;
      line-height: 30px;
    }
    .news{
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 80%;
      margin-left: 10%;
      margin-top: 8%;
    }
    .enteremail{
      margin-left: 2%;
      padding: 3%;
      width: 70%;
      overflow: hidden;
      position: relative;
    }

}

@media screen and ( min-width: 569px ) and ( max-width: 768px ){

  .monthly{
    margin-top: 50%;
  }

  
}